.sidenav{
    background-color: rgb(173, 169, 169);
    color: black;
    box-shadow: inset 0 0 1em rgb(218, 207, 207);
    width: 200px;
}

.sidenav a{
    color: black;

}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding:16px;
    background-color: white;
}